body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  overflow: hidden;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-image: url("./img/BackgroundPollo.png");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

canvas {
  background-color: black;
  border-radius: 10px;
}
